.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto; /* Centrer la table */
  margin-top: 80px; /* Ajoute un espace entre le haut de la page et la table */
  max-width: 1500px; /* Limite la largeur de la table */
}

.table th, .table td {
  padding: 10px;
  text-align: center; /* Centre le contenu horizontalement dans les cellules */
  vertical-align: middle; /* Centre le contenu verticalement dans les cellules */
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: none;
}

.table img {
  width: 100px;  /* Largeur fixe pour l'image */
  height: 100px; /* Hauteur fixe pour l'image, la rendant carrée */
  object-fit: cover; /* L'image garde son ratio tout en couvrant l'espace */
  border-radius: 4px; /* Coins arrondis (optionnel) */
}

.table .button {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: rgb(248, 245, 245);
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center; /* Centre le texte à l'intérieur du bouton */
}

.table .removeButton {
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.table .removeButton:hover {
  background-color: #ff6666;
}

.table .removeButton:focus {
  outline: none;
}

.table .removeButton::before {
  content: "×"; /* Le caractère de suppression dans le bouton */
  font-family: Arial, sans-serif;
  font-weight: bold;
}


/* Pour la responsivité */
@media (max-width: 768px) {
  .table, .table tbody, .table tr, .table th, .table td {
    display: block;
    width: 100%;
  }

  .table tr {
    margin-bottom: 20px;
    border-bottom: 2px solid #f4f4f4;
  }

  .table th {
    display: none; /* Cacher les en-têtes de table sur les petits écrans */
  }

  .table td {
    text-align: right;
    position: relative;
    padding-left: 50%;
  }

  .table td:before {
    content: attr(data-label); /* Utilise le contenu de l'attribut data-label pour simuler les en-têtes */
    position: absolute;
    left: 10px;
    width: 45%;
    padding-right: 10px;
    text-align: left;
    font-weight: bold;
  }

  .table img {
    width: 80px;
  }

  .table .button {
    padding: 5px 8px;
    font-size: 14px;
  }
}
