/* Header.css */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

/* Ajustements pour mobile */
@media (max-width: 767.98px) {
  .navbar-nav {
      display: none; /* Cache les icônes sur les petits écrans */
  }

  .offcanvas {
      width: 250px; /* Largeur du Offcanvas pour mobile */
  }

  .offcanvas-body .nav-link {
      font-size: 1.25rem; /* Agrandir les liens dans le Offcanvas */
  }
}

/* Icônes et badges */
.nav-link .fa-heart,
.nav-link .fa-shopping-cart {
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 0 0 0.5px black;
  -webkit-text-stroke: 0.5px black;
}

.nav-link .fa-heart:hover,
.nav-link .fa-shopping-cart:hover {
  color: red;
}

.nav-link .badge {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background-color: red;
  color: white;
  padding: 0.3rem 0.5rem;
  border-radius: 50%;
  font-size: 0.75rem;
}
