.custom-card {
    border: none;
    box-shadow: none; /* Retire les ombres pour la carte */
    overflow: hidden;
    text-align: center;
}

.custom-card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.article-details {
    margin-top: 10px;
}

.article-rating {
    margin-bottom: 5px;
}

.article-rating .star {
    color: #ddd; /* Couleur par défaut des étoiles */
    font-size: 1.25rem;
    margin: 0 2px;
}

.article-rating .star.filled {
    color: #f5c518; /* Couleur des étoiles remplies */
}

.article-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 5px 0;
}

.article-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #28a745;
}

.favorite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.favorite-icon span {
    font-size: 20px;
    color: grey;
    transition: color 0.3s ease;
}

.favorite-icon span.red {
    color: red;
}
.custom-button {
    background-color: #311C52; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Supprime la bordure */
    padding: 10px 20px; /* Ajuste l'espacement */
    border-radius: 5px; /* Coins arrondis */
    font-weight: bold; /* Texte en gras */
    font-size: 16px; /* Taille du texte */
    cursor: pointer; /* Curseur en pointeur */
    transition: background-color 0.3s ease-in-out; /* Transition douce */
}

.custom-button:hover {
    background-color: #4a2a76; /* Couleur au survol */
}
