.bloc__detail {
    display: flex;
    flex-direction: row;
}

.photo-container {
    display: flex;
}

.thumbnails-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.main-photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-photo {
    width: 400px;
    height: 400px;
    object-fit: cover; /* This will make sure the image covers the whole area */
}

.thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover; /* This ensures thumbnails also have a uniform size */
    margin-bottom: 10px;
    cursor: pointer;
}

.thumbnail:hover {
    border: 2px solid #007bff;
    opacity: 0.8;
}
