html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Éviter le défilement horizontal */
}

#root {
    height: 100%;
    
}

.container {
    padding: 10px; /* Assurez-vous qu'il y a suffisamment d'espace en bas */
}
    
    


.main {
    min-height: 100vh; 
}
