.addresses-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre le contenu horizontalement */
  gap: 20px; /* Espacement entre les cartes */
  width: 100%; /* S'assure que le conteneur occupe toute la largeur */
}

.address-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%; /* Réduit la largeur pour qu'elle soit plus compacte */
  max-width: 1200px; /* Limite la largeur maximale de la carte */
}

.address-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold; /* Ajoute un peu d'accentuation */
}

.address-details {
  font-size: 14px; /* Taille similaire aux détails des commandes */
  color: #666;
  line-height: 1.5;
}

.address-actions {
  display: flex;
  justify-content: flex-end; /* Place les boutons à droite */
  gap: 40px; /* Espace entre les boutons */
  margin-top: 10px;
}


.add-address-form, .edit-address-form {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%; /* Réduit la largeur pour qu'elle soit plus compacte */
  max-width: 1200px; /* Limite la largeur maximale de la carte */
}

.add-address-form input, .edit-address-form input {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-address-form h3, .edit-address-form h3 {
  margin-bottom: 15px;
  font-size: 16px;
  color: #311C52;
}

.address-button {
  background-color: #311c52;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}

.address-button:hover {
  background-color: #432f6d;
}

.address-button.delete {
  background-color: #ff4d4f; /* Couleur rouge pour supprimer */
}

.address-button.delete:hover {
  background-color: #ff7875;
}

.address-buttons {
  display: flex;
  justify-content: space-between; /* Espace les boutons */
  width: 100%;
  margin-top: 10px;
}



