/* ProfileNavBar pour les grands écrans */
.profile-navbar {
  display: flex; /* Active le flexbox */
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  padding: 10px 20px; /* Ajoute de l'espace intérieur */
  border-bottom: 1px solid #e3e1e1; /* Ligne de séparation */
  width: 100%; /* Barre occupe toute la largeur */
  max-width: 1200px; /* Limite la largeur sur grands écrans */
  margin: auto; /* Centre horizontalement la barre */
  z-index: 998; /* Assure une position correcte par rapport au contenu */
}

.profile-navbar-list {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.profile-navbar-item {
  font-size: 16px;
}

.profile-navbar-link {
  text-decoration: none;
  color: #311C52;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.profile-navbar-link:hover {
  background-color: #f7f7f7;
  color: #432f6d;
}

/* Responsive : Masquer sur petits écrans */
@media (max-width: 768px) {
  .profile-navbar {
    display: none;
  }
}

/* Responsive : Afficher dans l'Offcanvas */
.offcanvas .profile-navbar {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.offcanvas .profile-navbar-list {
  gap: 10px;
  flex-direction: column;
}

.offcanvas .profile-navbar-link {
  font-size: 14px;
  text-align: left;
  padding: 10px 20px;
}
