/* ProfileNavBar pour les grands écrans */
.profile-navbar {
  display: none; /* Masqué par défaut */
}

@media (max-width: 768px) {
  .profile-navbar {
    display: none;
  }
}

/* Liste des catégories */
.profile-navbar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 15px;
}

/* Style des éléments */
.profile-navbar-item {
  font-size: 16px;
}

.profile-navbar-item a {
  text-decoration: none;
  color: #311C52;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: block; /* Occupe toute la largeur */
}

.profile-navbar-item a:hover {
  background-color: #f7f7f7;
  color: #432f6d;
  border-radius: 5px;
}

/* Affichage dans l'Offcanvas */
.offcanvas .profile-navbar {
  display: flex; /* Toujours visible dans l'Offcanvas */
}

.offcanvas .profile-navbar-list {
  gap: 10px; /* Réduit l'espacement */
}

.offcanvas .profile-navbar-item a {
  font-size: 14px; /* Taille ajustée pour les petits écrans */
  padding: 8px 16px;
}
