
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* global.css */
.navbar {
  margin-bottom: 20px; /* Ajoute un espace sous la navbar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une ombre pour une meilleure distinction */
}

.body-content {
  padding: 20px; /* Ajoute de l'espace autour du contenu du body */
  background-color: #f8f9fa; /* Une couleur de fond pour différencier le body */
  min-height: calc(100vh - 70px); /* Assure que le contenu prend toute la hauteur de la page, en soustrayant la hauteur de la navbar */
}

