
/* MiniNavbare.css */
.mini-navbar {
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  padding-left: 120px; /* Ajoute un espace à gauche */
  align-items: center;
  position: relative;
  border-bottom: 1px solid #e3e1e1;
}

/* Liste des catégories */
.mini-navbar-list {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap; /* Permet à la liste de passer à la ligne sur petits écrans */
}

/* Style des éléments */
.mini-navbar-item {
  font-size: 16px;
}

.mini-navbar-item a {
  text-decoration: none;
  color: #311C52;
  padding: 8px 16px;
  transition: color 0.3s ease;
}

.mini-navbar-item a:hover {
  color: #432f6d;
}

/* Styles pour les petits écrans */
@media (max-width: 768px) {
  .mini-navbar {
    justify-content: center; /* Centre les éléments sur petits écrans */
  }

  .mini-navbar-list {
    gap: 10px; /* Réduit l'espacement entre les éléments */
  }

  .mini-navbar-item {
    font-size: 14px; /* Réduit la taille du texte */
  }
}
