/* MiniNavbar.css */

.mini-navbar {
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-left: 100px; /* Décalage à gauche */
}

.mini-navbar::before {
  content: "";
  position: absolute;
  top: 100%; /* Place la ligne en bas du mini-navbar */
  left: -100px; /* Compense le margin-left pour débuter la ligne au bord de la page */
  width: calc(100% + 100px); /* Étend la ligne pour couvrir tout l'espace */
  height: 1px;
  background-color: #e3e1e1; /* Couleur de la ligne */
}

/* Appliquer le décalage à gauche sur les écrans moyens et grands */
@media (min-width: 768px) {
  .mini-navbar {
    margin-left: 100px;
  }
}


.mini-navbar-list {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mini-navbar-item {
  font-size: 16px;
}

.mini-navbar-item a {
  text-decoration: none;
  color: #311C52;
  padding: 8px 16px;
  transition: color 0.3s ease;
}

.mini-navbar-item a:hover {
  color: #432f6d;
}

/* Styles pour les petits écrans */
@media (max-width: 768px) {
  .mini-navbar {
    justify-content: flex-start; /* Aligne le bouton à gauche */
  }

  /* Centrer la liste dans le Offcanvas sur petits écrans */
  .mini-navbar-list {
    flex-direction: column;
    align-items: center;
  }

  /* Place le bouton de catégories à gauche sur petits écrans */
  .mini-navbar .btn {
    margin-right: auto; /* Place le bouton à gauche */
  }
}
